body {
  font: 10px sans-serif;
}

.padded_options {
 
  left: 0;
  right: 0;
  margin-left: 50px;
  margin-right:50px; 
  background-color: #fff;
  border-radius: 5px;
  top:10px;
}

label {
  display: block;
}



.flex_parent {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-flow: row wrap;
 }

.flex_item {
  
   flex: 1 1 auto;
   margin:5px;
   padding: 5px; 
   border: solid 1px #BCBCBC;
   border-radius: 5px;

}

line {stroke: black;
    stroke-width: 0.5px;}
    

text {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

.circle_text {
    pointer-events: none;
}